html {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/back-light.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.body-dark {
    background-image: url(../img/back-dark.png);
}

.top-container {
    padding: 10px 0;
    font-size: 3rem;
    background-color: #d3662f;
}

.top-container-dark {
    background-color: transparent;
}

h1 {
    font-family: 'Odibee Sans', cursive;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    margin: 20px;
    text-shadow: #474747 3px 5px 2px;
    display: inline-block;
}

.h1-dark {
    color: rgb(209, 200, 196);
}

.top-container img {
    position: relative;
    top: 30px;
    display: inline-block;
}

.levels {
    padding: 25px;
}

.info-container,
.bottom-info {
    margin: auto;
    padding: 7px;
    background-color: #ffd4b1;
}

.info-container-dark {
    color: rgb(209, 200, 196);
    background-color: transparent;
}

.game-container {
    border-left: #ffd4b1 15px solid;
    border-right: #ffd4b1 15px solid;
}

.game-container-dark {
    border-left: transparent 15px solid;
    border-right: transparent 15px solid;
}

.info{
margin: auto;
text-align: center;
}

h2{
    background-color: rgb(255, 250, 239);
    border-radius: 10px;
    padding: 3px 10px;
    border: #000 solid 1px;
    
}

.h2-dark{
    background-color: rgb(30, 30, 30);
}
.info h2 {
    display: inline-block;
    width: 170px;
    margin: 0 3px;
    vertical-align: middle;
}

h2.smiley {
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.smiley img{
    width: 50px;
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 460px auto;
}


.grid-item {
    padding: 30px 30px;

}

.left-container {
    text-align: right;
}

.right-container {
    text-align: left;
}

.table-game {
    background-color: #fff;
    margin: auto;
}

.table-game-dark {
    background-color: #000;
}

tbody {
    border-collapse: collapse;
}

.cell {
    background-color: #d3662f;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 5px;
    font-weight: 700;
    position: relative;
}

.cell .boom {
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: +1;
}

.grid-item button{
    line-height: 1.1rem;
}

.cell:hover {
    background-color: #9f4d25;
}

.is-shown {
    background-color: #ffdccb;
    box-shadow: none;
}

.is-shown:hover {
    background-color: #ffdccb;
}

.is-gray {
    background-color: #ffd0b7;
    box-shadow: none;
}

.is-gray:hover {
    background-color: #ffd0b7;
}

.is-red {
    background-color: #ff2f2f;
    box-shadow: none;
}

.is-red:hover {
    background-color: #ff2f2f;
}

h3 {
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
}

.lives {
    margin-top: 0;
}

.footer {
    margin: 20px 0 0 0;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #d3662f;
    bottom: 0px;
    font-weight: 800;
    letter-spacing: 1px;
}

.footer-dark {
    background-color: #000;
}


.bottom-info {
    padding: 10px;
    margin-bottom: 42px;
}

.bottom-info h2 {
    margin: 5px auto;
    width: 300px;
}

.hide {
    display: none;
}

.tdImg {
    max-width: 80%;
    max-height: 80%;
}

img {
    width: 120px;
}

button {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #9a2e22;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid #57180a;
    box-shadow: 5px 6px 9px 2px rgba(0, 0, 0, 0.79);
}


button:hover {
    background-color: rgb(87, 27, 13);
}

.text-green {
    color: green;
}

.text-blue {
    color: rgb(45, 45, 213);
}

.text-yellow {
    color: rgb(177, 158, 46);
}

.text-orange {
    color: rgb(210, 98, 0);
}

.text-red {
    color: rgb(141, 19, 19);
}

.dark-switch {
    text-align: center;
    font-size: 13px;
    color: #000;
    width: 69px;
    background-color: rgb(253, 213, 180);
    margin-bottom: 1px;
    border-radius: 3px;
}

.light-switch {
    background-color: transparent;
    color: rgb(209, 200, 196);
}


.manual {
    cursor: url(../fav/favicon-32x32.png), auto;
}

.mine-background{
    background-image: url(../fav/favicon-32x32.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blank {
    background-color: rgb(254, 241, 236)
}

.score span{
    color: #ca491a;
}
.smaller{
    font-size: 1rem;
}


.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c1a9a6;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 9px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #9a2e22;
}

input:focus+.slider {
    box-shadow: 0 0 1px #9a2e22;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    font-size: 0.8rem;
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: 50%;
    margin-left: -80px;
  }
  
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }